.dashboard {
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}
.dashboard, .dashboard-content {
    background-color: #ecf5fe;
}
.dashboard-content {
    padding: 0rem 1rem;
}
.logo-container {
    padding: 0;
    border: none;
    position: relative;   
    
}
.logo-container:hover .upload-container {
    visibility: visible;
}

.upload-container {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    cursor: pointer;
    visibility: hidden;
    .upload-logo-btn {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 !important;
        margin: 0 !important;
        .btn-icon {
            padding-left: 10px;
        }
    }
}
.avatar-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.edit-logo-container {
    position: absolute;
    right: 10px;
    top: 10px;
}
.upload-container.visible {
    visibility: visible;
}