.sidebar-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
    position: relative;
    .close-btn {
        position: absolute;
        right: 10px;
        top: 0px;
        cursor: pointer;
    }
}
.sidebar-header {
    text-align: center;
}

.comments-dropdown {
    .checkbox.checked label {
        &::before {
            background-color: #0e7ceb !important;
        }
        &::after{
            color: white !important;
        }
    }
}

#comment-btn {
    &:hover {
        background-color: transparent !important;
    }
}

input:focus {
    outline: none !important;
}