.video-card {
    position: relative;
    &:hover &__dropdown-options {
        visibility: visible;
    }
    &__header {
        text-align: center;
        word-break: break-word;
    }
    &__dropdown-options {
        position: absolute !important;
        z-index: 3;
        right: 10px;
        top: 10px;
        visibility: hidden;
    }
}

