.tabs-container {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: space-between;
    // width: 100%;
    // .tab-item {
    //     flex: 1;
    //     text-align: center;
    //     padding: 1rem;
    //     border: 3px solid black;
    //     border-left: none;
    //     border-right: none;
    //     font-size: 1.5rem;
    //     cursor: pointer;
    // };
    // .tab-item:nth-child(1), .tab-item:last-child{
    //     border-left: 2px solid black;
    //     border-right: 2px solid black;
    // }
    background-color: #d4e0ed;
    display: inline-block;
    border-radius: 10em !important;
    .tab-item, .tab-item:hover {
        border-radius: 10em !important;
        background-color: #d4e0ed !important;
        color: #041c34 !important;
        font-weight: 200;
        padding: 1rem 2rem ;
    }
    .tab-item.active {
        background-color: #1d3348 !important;
        color: white !important;
        font-weight: bold;
        // box-shadow: 0 0 5px #6f6e6e;
    }
}
