
.notification {
    opacity: 1;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  
  .ui.modal>.header:not(.ui) {
    background-color: #2185d0 !important;
    color: white !important;
    text-align: center;
  }